<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>


    <meta th:replace="~{fragments/head :: metas}"/>
    <title>Change Password</title>
    <style th:replace="~{fragments/head :: styles}"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script th:replace="~{fragments/head :: scripts}"/>

</head>
<body>
<div class="wrapper">
    <div class="content">

        <div th:replace="~{/fragments/navbarFragment :: navbarFragment}"></div>

        <div class="container" style="margin-top: 80px;">
            <h2>Set New Password</h2>
            <form id="changePasswordForm">
                <input type="hidden" id="token" name="token" th:value="${token}" />
                <div>
                    <label for="password">New Password:</label>
                    <input type="password" id="password" name="password" required />
                </div>
                <div>
                    <label for="confirmPassword">New Password (Again):</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required />
                </div>
                <button type="submit">Save</button>
            </form>

        </div>
        <script>
            document.getElementById('changePasswordForm').addEventListener('submit', function(event) {
                event.preventDefault();

                const token = document.getElementById('token').value;
                const password = document.getElementById('password').value;
                const confirmPassword = document.getElementById('confirmPassword').value;

                if (password !== confirmPassword) {
                    alert('Passwords do not match. Please try again./密码不匹配。请再试一次。');
                    return;
                }

                fetch('/api/users/savePassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ token: token, password: password })
                })
                .then(response => response.text())
                .then(data => {
                    console.log(data);
                    alert('Password has been updated successfully. 密码已成功更新。');
                })
                .catch(error => {
                    console.error('Error:', error);

                });
            });
        </script>



        <!-- İçeriğinizi buraya ekleyin -->
    </div>

    <div th:insert="fragments/footer :: footer"></div>
</div>

</body>
</html>

